#button {
    margin-top: 30px;
    margin-bottom: 50px;
    a {
        color: $white !important;
        background-color: $pastalRed;
        border-radius: 5px;
        padding: 15px;
        &:hover {
            background-color: lighten($pastalRed, 10%);
            text-decoration: none;
        }
    }
}

.btn, .btn-primary {
    background-color: $pastalRed !important;
    outline-color: $pastalRed !important;
    border-color: $pastalRed !important;
}