header {
    width: 100%;
    //background-color: black;
    background-image: url('../../images/IMG_1485.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: auto;
}