#licensing {
    padding-bottom: 50px;
}

#licensing {
    color: #111111 !important;
    padding-bottom: 50px;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    h2, h4 {
        color: #111111;
    }
    .col {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}

.license {
    max-width: 270px;
    color: #111111;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &__name {
        font-size: 18px;
        font-weight: 700;
        padding: 10px 0px 10px 0px;
        font-family: 'Poppins', sans-serif;
    }
    &__price {
        background: rgba(0,0,0,.04);
        font-size: 40px;
        font-weight: 700;
        padding: 10px 0px 10px 0px;
        font-family: 'Poppins', sans-serif;
    }
    &__terms {
        a {
            margin-top: 20px;
            display: block;
            width: 100%;
            color: $white !important;
            background-color: #222;
            border-radius: 8px;
            padding: 15px;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            &:hover {
                background-color: lighten(#222, 20%);
                text-decoration: none;
            }
        }
    }
}

.included {
    //color: #4bb543;
    color: #333 !important;
    font-size: 14px;
}

.excluded {
    color: #ff9494;
    //color: #666;
    font-size: 14px;
}

.excluded-point {
    text-decoration: line-through;
    color: darkgrey;
}

.licenses-table {
    font-size: 14px;
    text-align: left;
    color: #3b3d42;
    margin-left: 25px;
    margin-bottom: 75px;
    margin-top: 20px;
    flex-grow: 1;
    td {
        padding: 5px 0px 11px 10px;
    }
    .button {
        width: 100%;
    }
    
}

#premium {
    h1 {
        background-color: #c1a268;
    }
}

#recommended {
    font-size: 12px;
    font-weight: lighter;
}