#top-ad {
    text-align: left;
    padding: 50px 0 50px 0;
    //background-color: #333333;
    color: white;
    position: relative;
    z-index: 10;
}

.topad-img {
    text-align: right;
    img {
        width: 75%;
        @include breakpoint('mobile') {
            width: 100%;
        }
    }
    @include breakpoint('mobile') {
        text-align: center;
    }
}