.flex {
    display: flex;
    @include breakpoint('mobile'){
        display: block;
    }
}

.half {
    width: 50%;
    @include breakpoint('mobile'){
        width: 100%;
    }
}

.min-height {
    min-height: 100vh;
}

.col-sm {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

h1, h2, h3, h4, h5, h6 {
    //font-family: 'Bellota Text', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
}