@font-face {
    font-family: 'gravity-reg';
    src: url(../../fonts/Gravity-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'gravity-bold';
    src: url(../../fonts/Gravity-Bold.otf);
    font-weight: bold;
}